.center-form {
    width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video-preview-wrapper {
    width: 100%;
    padding: 10px;
    background: black;
    video {
        width: 100%;
    }
}