
<div class="page-wrapper">
    <div class="video-preview-wrapper fullCenter" [class.active]="showThumbnailer">
        <h1>Thumbnail Picker</h1>
        <div class="close" (click)="toggleThumbnailer(false)">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
        <video id="thumbnailer-video" controls></video>
        <div class="input-wrapper">
            <input type="submit" [value]="thumbnailSubmitBtn" (click)="getVideoFrame()">
        </div>
    </div>
    <div class="progress-container fullCenter" *ngIf="bools.showProgress"> 
        <h2>Uploading...</h2>
        <p>{{data.progress}}% Complete</p>
        <div class="progress-bar">
            <div class="fill" [style.width]="data.progress + '%'"></div>
        </div>
    </div>
    <div class="fs-fill" [class.active]="bools.showfs"></div>
    <div class="back-btn">
        <a (click)="back()">Back</a>
    </div>
    <div class="page-container fullCenter">
        <div class="left">
            <div class="left-container">
                <h1>Video Uploader</h1>
                <div class="input-wrapper">
                    <p class="input-label">Title</p>
                    <input type="text" placeholder="Enter a title" #titleInput (keyup)="valueChange('title', $event)">
                </div>
                <div class="input-wrapper">
                    <p class="input-label">Description</p>
                    <textarea type="text" placeholder="Enter an insightful description..." #descriptionInput (keyup)="valueChange('description', $event)"></textarea>
                </div>
                <div class="input-wrapper">
                    <p class="input-label">Thumbnail</p>
                    <input type="text" placeholder="Enter an Image url" #thumbnailInput (keyup)="valueChange('thumbnail', $event)">
                </div>
                <div class="submit-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <input type="submit" value="Post to Drafts!" (click)="submit()">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="video-previewer">
                <div class="video-container">
                    <div class="upload-hitzone" [hidden]="bools.hasUpload" (click)="uploadFilePress()">
                        <div class="fullCenter">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                            </svg>    
                            <h4>Click to Upload</h4>
                        </div>
                        <input type="file" #uploadVideoInput accept=".mp4" (change)="fileUploadChange($event)">
                    </div>
                    <video id="preview-video" controls [hidden]="!bools.hasUpload"></video>
                </div>
                <div class="video-info">
                    <div class="action-btns">
                        <button (click)="toggleThumbnailer(true)" *ngIf="bools.hasUpload">Select Thumbnail</button>
                    </div>
                    <h1>{{data.title.length > 0 ? data.title : "Enter a Title..."}}</h1>
                    <p>{{data.description.length > 0 ? data.description : "Lorem ipsum dolor sit amet, consectetur adipiscing elit..."}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
