<div class="page-wrapper">
    <div class="admin-container">
        <app-admin-header [title]="'System Users'"></app-admin-header>
        <div class="admin-primary-body">
            <div class="data-header">
                <h2 class="fullYCenter">{{selectedDatabase === 'system' ? 'Dashboard' : 'Mobile'}} Accounts</h2>
                <div class="right-container">
                    <div class="source-object fullYCenter">
                        <p>Source: <b>{{selectedDatabase === 'system' ? 'Dashboard' : 'Mobile'}}</b></p>
                        <div class="arr"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                        <select (change)="changedDataSource($event)">
                            <option id="system" value="system">Dashboard Accounts</option>
                            <option id="mobile" value="mobile">Mobile Accounts</option>
                        </select>
                    </div>
                    <div class="filter-action fullYCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                    </div>
                </div>
            </div>
            <div class="appender-header">
                <div class="object"><p></p></div>
                <div class="object"><p>Name</p></div>
                <div class="object"><p>Email</p></div>
                <div class="object"><p>Last Active</p></div>
                <div class="object"><p>Permissions</p></div>
                <div class="object"><p></p></div>
                <div class="hr"></div>
            </div>
            <div class="users-appender">
                <div class="user">
                    <div class="object"><div class="avatar fullCenter"></div></div>
                    <div class="object"><p>Name</p></div>
                    <div class="object"><p>Email</p></div>
                    <div class="object"><p>Last Active</p></div>
                    <div class="object"><p>Permissions</p></div>
                    <div class="object">
                        <div class="central-inputs fullCenter">
                            <button>Inspect</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>