<div class="page-wrapper">
    <div class="admin-container">
        <app-admin-header [title]="'Assets'"></app-admin-header>
        <div class="admin-primary-body">
            <div class="data-header">
                <h2 class="fullYCenter">System Assets</h2>
                <div class="right-container">
                    <div class="filter-action fullYCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                    </div>
                </div>
            </div>
            <!-- System Header -->
            <div class="appender-header">
                <div class="object"><p></p></div>
                <div class="object"><p>Asset</p></div>
                <div class="object"><p>Identifier</p></div>
                <div class="object"><p>Device Type</p></div>
                <div class="object"><p>Status</p></div>
                <div class="object"><p></p></div>
                <div class="hr"></div>
            </div>
            <div class="loading-wrapper fullXCenter" *ngIf="!loaded">
                <div class="loader blk"></div>
            </div>
            <!-- System Accounts -->
            <div class="assets-appender" *ngIf="loaded">
                <div class="asset" *ngFor="let asset of assets" [hidden]="!loaded">
                    <div class="object"><div class="avatar fullCenter reg-image" [ngStyle]="{'background-image': 'url('+asset.image_url+')'}"></div></div>
                    <div class="object"><p>{{asset.name}}</p></div>
                    <div class="object"><p>Tag: {{asset.identifier}}</p></div>
                    <div class="object"><p>{{asset.category.name}}</p></div>
                    <div class="object"><p [class.bold]="asset.status.id === 2">{{asset.status.name}}</p></div>
                    <div class="object">
                        <div class="central-inputs fullCenter">
                            <button>Inspect</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>