<div class="page-wrapper">

     <!-- Center Inspector -->
     <div class="admin-center-inspect fullCenter" *ngIf="showVideoInspector">
         <div class="destructive-btn">
             <button>Delete</button>
         </div>
        <div class="close" (click)="splashClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div class="section">
            <div (click)="openVideo(selectedVideo.id)" class="asset-image fullXCenter reg-image" [ngStyle]="{'background-image': 'url('+selectedVideo.thumbnail+')'}"></div>
        </div>
        <div class="section">
            <div class="asset-info">
                <div class="asset-info-title">{{selectedVideo.title}}</div>
                <div class="asset-info-description">{{selectedVideo.inserted_at}}</div>
            </div>
        </div>
        <div class="section">
            <div class="input-wrapper">
                <p class="input-title">Name</p>
                <input type="text" #nameInspectInput [value]="selectedVideo.title"/>
            </div>
            <div class="input-wrapper">
                <p class="input-title">Description</p>
                <textarea type="text" #descriptionInspectInput [value]="selectedVideo.description">  </textarea>
            </div>
            <div class="input-wrapper">
                <p class="input-title" >Source URL</p>
                <input type="text" #identifierInspectInput [value]="selectedVideo.url"/>
            </div>
            <div class="input-wrapper">
                <p class="input-title" >Thumbnail URL</p>
                <input type="text" #identifierInspectInput [value]="selectedVideo.thumbnail"/>
            </div>
            <div class="input-wrapper">
                <input type="submit" value="Submit Changes" (click)="submitChanges()">
            </div>
        </div>
    </div>
    <div class="fs-splash" [class.active]="showSplash" (click)="splashClick()"></div>

    <div class="admin-container">
        <app-admin-header [title]="'Videos'"></app-admin-header>
        <div class="admin-primary-body">
            <div class="data-header">
                <h2 class="fullYCenter">Platform Content</h2>
                <div class="right-container">
                    <div class="filter-action fullYCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                    </div>
                    <button class="actionButton fullYCenter" routerLink="/admin/tools/videoUploader">
                        Upload Video
                    </button>
                </div>
            </div>
            <!-- Header -->
            <div class="appender-header">
                <div class="object"><p></p></div>
                <div class="object"><p>Title</p></div>
                <div class="object"><p>Upload Date</p></div>
                <div class="object"><p></p></div>
                <div class="hr"></div>
            </div>
            <div class="loading-wrapper fullXCenter" *ngIf="!loaded">
                <div class="loader blk"></div>
            </div>
            <!-- Appender -->
            <div class="videos-appender" *ngIf="loaded">
                <div class="video" *ngFor="let video of videos" [hidden]="!loaded">
                    <div class="object">
                        <div (click)="openVideo(video.id)" class="thumbnail fullCenter reg-image" [ngStyle]="{'background-image': 'url('+video.thumbnail}">
                            <div></div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play fullCenter"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                        </div>
                    </div>
                    <div class="object"><p>{{video.title}}</p></div>
                    <div class="object"><p>{{video.display.inserted_at}}</p></div>
                    <div class="object">
                        <div class="central-inputs fullCenter">
                            <button (click)="inspectVideo(video.id)">Inspect</button>
                            <button (click)="openVideo(video.id)">Watch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>