<div class="page-wrapper">
  <div class="step">
    <button (click)="takeProfilePhoto()">Take Profile Photo</button>
    <button (click)="retakeProfilePhoto()">Retake Profile Photo</button>
    <div class="photo-sys" *ngIf="showPhotoSys">
        <img [src]="preview" *ngIf="preview != ''" class="fullCenter preview-capture"/>
        <video hidden id="vid" width="300" height="300"></video>
        <div class="video-container fullCenter" [hidden]="preview != ''">
            <div class="loader-splash" *ngIf="showLoader">
                <div class="loader fullCenter"></div>
            </div>
            <svg [hidden]="showLoader" _ngcontent-tmi-c18="" height="650" width="650" class="progress-ring fullCenter"><circle [hidden]="showLoader" _ngcontent-tmi-c18="" stroke-width="16" stroke="#3067f6" fill="transparent" r="308" cx="325" cy="325" class="progress-ring__circle"></circle></svg>
            <div [hidden]="showLoader" class="completion-circle fullCenter"></div>
            <canvas id="canvas"></canvas>
        </div>
    </div>
  </div>
</div>
