.icon {
    width: 80px;
    height: 80px;
    background: #3068f641;
    border-radius: 50%;
    margin: 0 auto;
    svg {
        stroke: #3067f6;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: relative;
        width: 40px;
        height: 40px;
    }
}

.header {
    margin-top: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    width: 500px;
}